
body input:focus:required:invalid,
body textarea:focus:required:invalid {

    color: red;
}

body input:required:valid,
body textarea:required:valid {
    color: #1338ad;
}


input.form-control, .form-group .form-control .butt.buut {
    border-radius: 2px;

}

* {
    color: #1338ad;
}

.buut {
    color: red;
    padding: 0 55px 0 55px;
}

.stor22 {
    color: #904336;
}
.stor11 {
    color: #3b7390;
}
.butt, .input {
    padding: .75rem;

    margin-top: 10px;
    /*margin: .375rem;*/
    /*line-height: 1.375;*/
    background-color: transparent;
    border-radius: 2px;
    /*text-align: center;*/
}

.butt:focus, .input:focus {
    outline: none;
}

.butt {
    border: 2px solid #f35626;
    /*line-height: 1.375;*/
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    font-weight: 700;

    color: #f35626;

    cursor: pointer;
    /*-webkit-animation: hue 60s infinite linear;*/
}
/*@page{*/
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
/*}*/

@media print {
    .butt, a {
        display: none;
    }
    body {
        color: #000;

    }
}

.count_child {
    max-width: 60px;
}

table td, td b, table li, td i{
    color: #444444;
}
table td {
    width: 16.67%;
    padding: 20px;
    /*border: 2px solid black;*/

}

.center {
    text-align: center;
    font-weight:600;

}

.requisites {
    text-align: right;
}

.text {
    text-align: justify;
    padding-bottom: 8px;
    padding-top: 8px;
}

.request {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
ol {
    padding-left: 20px;
}

.datepicker {
    max-width: 350px;
}

.rig {
    text-align: right;
}